/* Basscss Color Base */

body {
  color: $site-color;
  background-color: $site-bg-color;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $site-bg-color;
  border-radius: $border-radius;
}

hr {
  width: 100%;
  border: 1px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: $border-color;
}
