<script src="/js/audioplayer.js"></script>

<section id="audio" class="card hidden white-bg" id="audio-player-div">
  <audio id="audio-player"></audio>
  <div id="song-div">
      <img id="song-img">
      <div id="song-inner-div">
          <div id="song-info-div">
              <label id="artist"></label>
              <label id="song-name"></label>
              <label id="album"></label>
          </div>
          <div id="song-controls-div">
              <input id="play-pause-button" type="image" src="/images/icons/play.svg"/>
              <input id="previous-button" type="image" src="/images/icons/previous.svg"/>
              <input id="next-button" type="image" src="/images/icons/next.svg"/>
              <label id="song-progress-text">0:00 / 0:00</label>
              <img id="volume-img">
              <input id="volume-control" type="range" min="0" max="100" step="1" value="50"/>
          </div>
          <input id="song-progress-control" type="range" min="0" max="0" step="1" value="0"/>
      </div>
  </div>
  <input id="loop-button" type="image" src="/images/icons/loop.svg">
  <ol class="playlist" id="playlist"></ol>
</section>

<script type="text/javascript">
    new AudioPlayer([
        new Song("Sylvius", "Onwards and Upwards", "To Arcadia", "/images/bg/Arcadia-1920x1280.jpg", ["https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/Onwards_And_Upwards_Raw_Preview.mp3"]),
    ]);
</script>
