<section id="audio" id="audio-player-div">
  <audio id="audio-player"></audio>
  <div id="song-div">
    <div class="audio-player-row">
      <div id="player-info" class="audio-player-column measure">
        <div id="song-info-div" class="audio-player-column">
          <label id="artist" class="mobile-hidden"></label>
          <label id="song-name"></label>
          <label id="album"></label>
        </div>
        <div id="song-controls" class="audio-player-row center-vertically">
          <input id="play-pause-button" class="control-button" type="image" src="/images/audioplayer/play.svg"/>
          <input id="previous-button" class="control-button" type="image" src="/images/audioplayer/previous.svg"/>
          <input id="next-button" class="control-button" type="image" src="/images/audioplayer/next.svg"/>
          <label id="song-progress-text">0:00 / 0:00</label>
          <input id="volume-img" class="control-button" type="image" src="/images/audioplayer/volume_up.svg"/>
          <input id="volume-control" type="range" min="0" max="100" step="1" value="30"/>
          <input id="loop-button" class="control-button hidden" type="image" src="/images/audioplayer/loop.svg">
        </div>
        <input id="song-progress-control" class="song-progress-control" type="range" min="0" max="0" step="1" value="0"/>
      </div>      
      <img id="song-img" class="mobile-hidden"/>
    </div>
  </div>            
  <ol class="playlist hidden" id="playlist">
    <li id="sample-item">
      <div class="container center-vertically">
        <img src="/images/audioplayer/play.svg">
        <label></label>
      </div>
    </li>
  </ol>
</section>

<script src="/js/audioplayer.js"></script>
