  
<section class="dark">
  <div class="hero hero-image center-all">
    <div class="hero-content">
      <h1 class="script mt4 mb4">... beautifully cinematic ...</h1>

      {% include audioplayer.html %}   

      <div class="cta mt4 mb4">
        <button class="order-button" onclick="window.location.href = '/order';">Buy - $2+</button>  
      </div>

    </div>
  </div>
</section>
<script type="text/javascript">
  new AudioPlayer(new AudioSettings({ volume: 100, isLooping: false }), [
      new Song("Sylvius", "Onwards and Upwards", "To Arcadia", 
        "https://silasreinagel.sirv.com/LiteHtml5AudioPlayer/OnwardsAndUpwards.jpg", 
        ["https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/OnwardsAndUpwards-SuperEarlyBird.mp3"])
  ]);
</script>   
