<script defer src="/js/email-subcribe.js"></script>

<!-- Custom Signup Form -->
<!-- <section id="email" class="mt4">
  <div id="email-signup" class="email-subscribe column center hidden">     
    <h2 class="mt0 mb2">Can't wait for more?</h2>
    <p>Join the <b>hundreds</b> of happy listeners who receive exclusive updates and making-of content on the mailing list!</p>
    <form id="email-form" class="email-form row wrap">
      <input id="email-entry" type="email" name="email" placeholder="Your email address">
      <input id="submit-email" class="order-button" type="submit" value="Join Now">
    </form>
  </div>
</section> -->
<!-- End Custom Signup Form-->

<section id="email" class="mt4 hidden">
  <div id="email-signup" class="email-subcribe column center hidden">
    <h2 class="script mt0 mb2">Can't wait for more?</h2>
    <p>Join the <b>hundreds</b> of happy listeners who receive exclusive updates and making-of content on the mailing list!</p>
    <p>Receive an <b>exclusive desktop wallpaper!</b><br>
      <span class="small"><i>(Only available <b>before</b> album release)</i></span>
    </p>

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://toarcadia.us3.list-manage.com/subscribe/post?u=45f138dff967d30ccc5c7edef&amp;id=02f22e6219" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
          class="validate" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45f138dff967d30ccc5c7edef_02f22e6219" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="order-button"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  
  </div>

  <section id="email-supporter" class="column center hidden">
      <h2 class="bold">Thanks for supporting this project!</h2>
      <h3>You are signed up for email updates.</h3>
  </section> 
</section>
