<script defer src="/js/email-subcribe.js"></script>

<section id="email">
  <div id="email-signup" class="mt2 email-subscribe column center hidden">     
    <h2 class="mt0 mb2">Can't wait for more?</h2>
    <p>Join the <b>hundreds</b> of happy listeners who receive exclusive updates and making-of content on the mailing list!</p>
    <form id="email-form" class="email-form row wrap">
      <input id="email-entry" type="email" name="email" placeholder="Your email address">
      <input id="submit-email" type="submit" value="Join Now!">
    </form>
  </div>
</section>

<section id="email-supporter" class="column center hidden">
  <h2 class="bold">Thanks for supporting this project!</h2>
  <h3>You are signed up for email updates.</h3>
</section>
