  
<section class="hero light ep-hero-image center-all column">
  <div class="hero-content">
    <h1 class="script mt4 mb4">heartfelt piano</h1>
    {% include audioplayer.html %}
  </div>
  <section id="links" class="mt6">
    {% include social_links.html %}
  </section>
  <img class="mt0 down-arrow transparent-white" src="/images/arrow-down.svg" 
    onclick="document.getElementById('landing-copy').scrollIntoView({ behavior: 'smooth' })" />
</section>

<script type="text/javascript">
  new AudioPlayer(new AudioSettings({ volume: 100, isLooping: false }), [
      new Song("Sylvius", "Album Preview", "Here With Me", 
        "/images/here-with-me-cover-art.jpg", 
        ["https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/HereWithMeEP/00_Here_With_Me_Album_Preview.mp3"]),
      new Song("Sylvius", "1 - Our Adventure Begins", "Here With Me", 
        "/images/here-with-me-cover-art.jpg", 
        ["https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/HereWithMeEP/01_Our_Adventure_Begins.mp3"]),
      new Song("Sylvius", "2 - Moment of Beauty", "Here With Me",  
        "/images/here-with-me-cover-art.jpg", 
        [ "https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/HereWithMeEP/02_Moment_of_Beauty.mp3"]),
      new Song("Sylvius", "3 - Here With Me", "Here With Me",  
        "/images/here-with-me-cover-art.jpg", 
        [ "https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/HereWithMeEP/03_Here_With_Me.mp3"]),
      new Song("Sylvius", "4 - Onwards and Upwards", "Here With Me",  
        "/images/here-with-me-cover-art.jpg", 
        [ "https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/HereWithMeEP/04_Onwards_and_Upwards.mp3"])
    ]);
</script>