<section id="landing-copy" class="ep landing-page center-all column">
  <section class="measure p3">
    <h1 class="script mb2">Heartfelt Romantic Piano EP</h1>
    <div class="album-cover mt3 mb3"><img src="/images/here-with-me-cover-art.jpg" alt="Here With Me - Album Cover"/></div>
    <p><b>Here With Me</b> is a solo piano album of heartfelt, uplifting romantic pieces.</p>
    <p>These songs will <b>inspire</b> you, <b>calm</b> you, and <b>uplift your soul.</b></p>
    <p>If you are a fan of <b>Yiruma, Ludovico Einaudi, Jennifer Thomas, Kyle Landry</b>, or <b>Nils Frahm</b> you will love this EP.</p>

    <button class="order-button" onclick="window.location.href = 'https://gumroad.com/l/here-with-me';">Order Now</button>  
  </section>

  <section class="secondary-bg">
      <div class="measure p3">
        <h2 class="script">Sylvius' Story:</h2>
  
        <p>For years, I've been playing and writing complex rock, jazz, metal. Very flashy. Big sounds. Punchy percussion.</p>
        <p>This year, I wanted to try something <b>DIFFERENT</b>. My personal journey has brought me down the path of minimalism. I've found contentment and fulfillment in doing <b>MORE</b> with <b>LESS</b>. So, I wanted to see if those learnings in my personal journey could be applied to the way I compose music.</p>
        <p><b>Here With Me</b> is the first set of recordings which capture that idea. I limited myself to just writing music using the piano. Nothing else. No strings. No percussion. No ambient sounds. Just piano.</p>
        <p>Using just a piano forces me to focus on the <b>ESSENCE</b> of the music, and the <b>EMOTIONS</b> that I am trying to express. The limitations add a clarity and a depth that I hadn't expected before I began writing solo piano music.</p>
        <p>This year is also the year I got married. Two of the four songs on this album were played in our wedding. I wrote <b>Here With Me</b> as a piece for my fiancée for Valentine's day. <b>Our Adventure Begins</b> was a piece I wrote specifically for our wedding recessional.</p>
        <p>Even in just these four songs, I hope that they take you through a short journey, filled with emotion. <b>You will feel excitement, anticipation, peace, awe, beauty, contentment, yearning, and joy.</b> You will experience very different types of music, inspired by many genres but written specifically for a piano.</p>
        <p><b>I invite you to join me in this journey. This music will inspire you, calm you, and uplift you.</b></p>
      </div>
    </section>

    <div class="measure p3">
      <h2 class="script">What critics are saying:</h2>

      <p><i>"Sylvius is a musician and composer with a rather unique approach to his sound and releases. 
        What I love about his tracks is that they are beautifully cinematic. They don’t need lyrics in 
        order to tell a compelling story, and in fact, the fact that these songs are instrumental makes 
        them all the more eloquent in my book!"</i><b> - Andrew "Laserlife"</b>
      </p>
  
      <p class="mt4"><i>With the trends of popular music today, we often forget the core principles of a song that 
        draws our ears into the world of the artist as we feel every single note and lyrics. Producers 
        are known well throughout music as providing the backdrop to numerous hits, but we are quick to 
        forget just how important their role is. Pianist Sylvius is reminding the world of an art form 
        not lost per se but merely forgotten.</i><b> - Devon Culbert</b>
      </p>

      <p class="mt4"><i>"We find ourselves in September, which seems like a perfect time to listen to pianist 
        Sylvius’s new album 'Here With Me'. His unique approach suggests dedication indeed to this singular, 
        sensuous body of music- romantic and beautifully cinematic. With refined, crystalline playing and 
        charismatic persona, the artist takes over your soul with his music and leaves you yearning for true 
        love."</i><b> - Tamanna Lakhanpal</b>
      </p>

      <p class="mt4"><i>"The storytelling that emerges on this EP has a great poignancy to it. A plucky 
        disposition helps to punctuate the pieces. Done with such confidence and fire, the whole of the EP 
        swirls about in a glorious blissful haze. Rhythms go for a pastoral hue for they are constantly 
        building up, growing until they reach a fevered pitch. By refusing to be pigeonholed, Sylvius 
        incorporates elements of classical, the theatrical, with a cinematic air to it all. Every piece 
        plays off the last too ensuring that the whole of the entire collection works best when taken 
        in as a singular whole. "</i><b> - BeachSloth</b>
      </p>

      <p class="mt4"><i>"This was a fantastic listen because the recordings are stripped completely down 
        and the project wasn’t some over-the-top, over-produced production full of bells & whistles. 
        Sylvius just lets the piano do all the talking on his new EP titled ‘Here With Me’. The result 
        is refreshing to say the least and the effect it will have on the listener is immense."</i>
        <b> - Jimmy Rae</b>
      </p>
    </div>

  <section class="secondary-bg">
    <div class="measure p3">
      <h2 class="script">What makes this album special?</h2>
      <ul>
        <li>Are you a sophisticated music listener?</li>
        <li>Do you think that music has gotten more produced, but not better written?</li>
        <li>Have you been craving something deep and soulful?</li>
      </ul>
      
      <h3><b>This album is for you!</b></h3>
      
      <p>
        Here With Me is a sophisticated and soulful piano album, that will make you feel that even though our world 
        isn't a perfect place, it's a world which hides <b>incredible beauty, amazing elegance</b>, and <b>moments 
          which take your breath away.</b>
      </p>
      
      <p>
        This is the album that you will be listening to for years. It will remind you of what the world can be, 
        and calm your soul so that you can walk the path ahead with confidence, gratefulness, and passion!
      </p>
    </div>
  </section>

  <div class="measure p3">
    <h2 class="script">How to experience more</h2>
    <p>Were you enchanted by what you heard?</p>
    <button class="order-button" onclick="window.location.href = 'https://gumroad.com/l/here-with-me';">Order Now</button>  
    <h3>Bring more joy, peace, and inspiration to your life today!</h3>
  </div>
</section>
