<header class="site-header px-responsive">
  <div class="limit-to-full-width row px-responsive">
    <a class="site-logo" href="/">
      <h1 class="site-title">{{ page.album | default: 'To Arcadia' }}</h1>
    </a>

    <nav class="site-header-bar nav stroke" role="navigation">
      <ul>
        <li><a href="https://gumroad.com/l/here-with-me">Order</a></li>
        <li><a href="/artist">Artists</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
