  
<section class="hero light hero-image center-all column">
  <div class="hero-content">
    <h1 class="script mt4 mb4">... a cinematic adventure ...</h1>
    {% include audioplayer.html %}
  </div>
  <section id="links" class="mt4">
    {% include social_links.html %}
  </section>
  <img class="mt0 down-arrow transparent-white" src="/images/arrow-down.svg" 
    onclick="document.getElementById('landing-copy').scrollIntoView({ behavior: 'smooth' })" />
</section>

<script type="text/javascript">
  new AudioPlayer(new AudioSettings({ volume: 100, isLooping: false }), [
      new Song("Sylvius", "Album Preview", "To Arcadia", 
        "/images/to-arcadia-cover-art.jpg", 
        ["https://sylvius-piano-songs.s3-us-west-1.amazonaws.com/ToArcadia-Release/00_ToArcadia_Preview.mp3"])
    ]);
</script>
