<section id="landing-copy" class="landing-page center-all column">
  <section class="measure p3">
      <h1 class="script mb2">A Cinematic Piano Adventure</h1>
      <div class="album-cover mt3 mb3"><img src="/images/to-arcadia-cover-art.jpg" alt="To Arcadia - Album Cover"/></div>
      <p><b>To Arcadia</b> is a solo piano album that will take you on a cinenatic adventure!</p>
      <p>These songs will <b>inspire</b> you, <b>excite</b> you, <b>calm</b> you and <b>uplift your soul.</b></p>
      <p>If you are a fan of <b>Yiruma, Ludovico Einaudi, Jennifer Thomas, Kyle Landry</b>, or <b>Nils Frahm</b> you will love this album.</p>
  
      <div class="mt4 mb4">
        <a class="order-button" onclick="onOrderButtonClick()" href="https://gum.co/toarcadia?wanted=true" target="_blank" data-gumroad-single-product="true">Pre-Order Now - $2+</a>
      </div>
    </section>

  <section class="secondary-bg">
    <div class="measure p3">
      <h2>What you can expect...</h2>
      <p>Whether you’re hosting a sophisticated evening dinner party, putting your children to sleep at night, 
        or focusing deeply on a project at work; the rich variety of styles, moods and compositions in 
        To Arcadia will reflect and complement your energy level at all times.</p>
      <p>The album is brimming with <i>‘breath-taking soundscapes that fill you with emotion’</i>, 
        described as <i>‘the most promising album of 2020’</i>; soothing to the ears of children and 
        delightfully refreshing to even the most refined pianists.</p>
    </div>
</section>

<div class="measure p3">
  <h2 class="script">What critics are saying:</h2>

  <p><i>"Sylvius is a musician and composer with a rather unique approach to his sound and releases. 
    What I love about his tracks is that they are beautifully cinematic. They don’t need lyrics in 
    order to tell a compelling story, and in fact, the fact that these songs are instrumental makes 
    them all the more eloquent in my book!"</i><b> - Andrew "Laserlife"</b>
  </p>

  <p class="mt4"><i>With the trends of popular music today, we often forget the core principles of a song that 
    draws our ears into the world of the artist as we feel every single note and lyrics. Producers 
    are known well throughout music as providing the backdrop to numerous hits, but we are quick to 
    forget just how important their role is. Pianist Sylvius is reminding the world of an art form 
    not lost per se but merely forgotten.</i><b> - Devon Culbert</b>
  </p>

  <p class="mt4"><i>"His unique approach suggests dedication indeed to this singular, 
    sensuous body of music- romantic and beautifully cinematic. With refined, crystalline playing and 
    charismatic persona, the artist takes over your soul with his music and leaves you yearning for true 
    love."</i><b> - Tamanna Lakhanpal</b>
  </p>

  <p class="mt4"><i>"The storytelling that emerges on this album has a great poignancy to it. A plucky 
    disposition helps to punctuate the pieces. Done with such confidence and fire, the whole of the album 
    swirls about in a glorious blissful haze. Rhythms go for a pastoral hue for they are constantly 
    building up, growing until they reach a fevered pitch. By refusing to be pigeonholed, Sylvius 
    incorporates elements of classical, the theatrical, with a cinematic air to it all. Every piece 
    plays off the last too ensuring that the whole of the entire collection works best when taken 
    in as a singular whole. "</i><b> - BeachSloth</b>
  </p>

  <p class="mt4"><i>"This was a fantastic listen because the recordings are stripped completely down 
    and the project wasn’t some over-the-top, over-produced production full of bells & whistles. The result 
    is refreshing to say the least and the effect it will have on the listener is immense."</i>
    <b> - Jimmy Rae</b>
  </p>
</div>

<section class="secondary-bg">
  <div class="measure p3">
    <h2 class="script">Sylvius' Story:</h2>

    <p>For years, I've been playing and writing complex rock, jazz, metal. Very flashy. Big sounds. Punchy percussion.</p>
    <p>This year, I wanted to try something <b>DIFFERENT</b>. My personal journey has brought me down the path of minimalism. I've found contentment and fulfillment in doing <b>MORE</b> with <b>LESS</b>. So, I wanted to see if those learnings in my personal journey could be applied to the way I compose music.</p>
    <p><b>To Arcadia</b> is the album which perfectly captures that idea. I limited myself to just writing music using the piano. Nothing else. No strings. No percussion. No ambient sounds. Just piano.</p>
    <p>Using just a piano forces me to focus on the <b>ESSENCE</b> of the music, and the <b>EMOTIONS</b> that I am trying to express. The limitations add a clarity and a depth that I hadn't expected before I began writing solo piano music.</p>
    <p>This year is also the year I got married. Two of the songs on this album were played in our wedding. I wrote <b>Here With Me</b> as a piece for my fiancée for Valentine's day. <b>Our Adventure Begins</b> was a piece I wrote specifically for our wedding recessional.</p>
    <p>These songs are written to you on an epic journey, filled with emotion. <b>You will feel excitement, anticipation, peace, awe, beauty, contentment, yearning, and joy.</b> You will experience very different types of music, inspired by many genres but written specifically for a piano.</p>
    <p><b>I invite you to join me in this journey. This music will inspire you, calm you, and uplift you.</b></p>
  </div>
</section>

<div class="measure p3">
  <h2 class="script">How to experience more</h2>
  <p>Were you enchanted by what you heard?</p>    
  <div class="mt4 mb4">
      <a class="order-button" onclick="onOrderButtonClick()" href="https://gum.co/toarcadia?wanted=true" target="_blank" data-gumroad-single-product="true">Pre-Order Now - $2+</a>
  </div>
  <h3>Bring more joy, peace, and inspiration to your life today!</h3>
</div>
</section>
