<section id="landing-copy" class="landing-page center-all column">
  <section class="measure p3">
    <h1 class="script mb2">Cinematic Piano Album</h1>
    <div id="album-cover" class="row wrap">
        <div class="album-cover"><img src="/images/album-title.jpg" alt="To Arcadia - Album Cover"/></div>
        <p class="text">Whether you’re looking to improve your ability to engage in deep focus at work, or looking to find the perfect melodies that are sure to fill you and your close ones with joy and serenity; To Arcadia by Sylvius will uplift your soul, inspire you, and take you to the places you usually only find in your most enchanted dreams.              </p>
    </div>
  </section>

  <section class="secondary-bg">
    <div class="measure p3">
      <h2>What you can expect...</h2>
      <p>Whether you’re hosting a sophisticated evening dinner party, putting your children to sleep at night, 
        or focusing deeply on a project at work; the rich variety of styles, moods and compositions in 
        To Arcadia will reflect and compliment your energy level at all times.</p>
      <p>The album is brimming with <i>‘breath-taking soundscapes that fill you with emotion’</i>, 
        described as <i>‘the most promising album of 2019’</i>; soothing to the ears of children and 
        delightfully refreshing to even the most refined pianists.</p>
    </div>
</section>

  <section class="measure p3">
    <h2>Unlike any other album you’ve heard before...</h2>
    <p>Sylvius has crafted an album that is dynamic yet harmonious, tender but energetic; keeping you in a state of active listening - whilst taking you to new and rich soundscapes with every passing track.</p>
  </section>

  <section class="secondary-bg">
    <div class="measure p3">
      <h2>How to experience more</h2>
      <p>Were you enchanted by what you heard?</p>
      <button class="order-button" onclick="window.location.href = '/order';">Pre-Order Now</button>  
      <h3>You’ll receive exclusive access to:</h3>
        <p class="mb0 mt0"><b>Raw recordings</b></p>
        <p class="mb0 mt0"><b>Bonus tracks</b></p>
        <p class="mb0 mt0"><b>Early access to the songs</b></p>
        <p class="mb0 mt0"><b>Wallpapers</b></p>
        <p class="mb0 mt0"><b>And more!</b></p>
      <h3>You don’t want to miss this fantastic opportunity!</h3>
    </div>
  </section>

  {% include email-subscribe.html %}
</section>
