.album-info {
}

.album-info img {
  max-width: 240px;
  min-width: 240px;
  height: auto;
  margin: auto;
}

.album-info .text {
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  max-width: 24em;
}

.album-info .title {
  font-size: $h1;
  font-weight: $bold-font-weight;
}

.album-info .coming-soon {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.album-info .description {
  font-weight: $bold-font-weight;
}

.album-info .quote {
}

.album-hero .character img {  
  max-height: 60vh;
  height: 40vh;
  margin: 0;
}
