.album-info {
  max-width: 600px;
}

.album-info img {
  max-width: 280px;
  height: auto;
  margin: 0 auto;
}

.album-info .text {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.album-info .title {
  font-size: $h1;
  font-weight: $bold-font-weight;
}

.album-info .coming-soon {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}

.album-info .description {
}

.album-info .quote {
  font-weight: $bold-font-weight;
}

.album-hero .character img {  
  max-height: 60vh;
  height: 40vh;
  margin: 0;
}