.album-info {
}

.album-info .title {
  font-size: $h1;
  font-weight: $bold-font-weight;
}

.album-info .coming-soon {
  font-size: 1.3em;
}

.album-info .description {
}

.album-info .quote {
  font-weight: $bold-font-weight;
}

.album-hero .character img {  
  max-height: 60vh;
  height: 40vh;
  margin: 0;
}