.artist .post {
  opacity: 1;
}

.artist .post p {
  font-size: 0.92em;
  letter-spacing: 0px;
}

.artist .post h4 {
  letter-spacing: 1px;
  margin-bottom: 1em;
  font-family: $script-font-family;
  font-weight: $bold-font-weight;
}

.artist-fact p {
  margin-bottom: 0;
  font-family: $heading-font-family;
  font-size: $h3;
  white-space: nowrap;
}

.artist {
  margin-bottom: 3em;
}

.artist .top {
  align-content: flex-start;
  margin-bottom: auto;
}

.sylvius-bg-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sylvius-bg-img img {
  position: absolute;
  bottom: 0;
  width: auto;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}