:root {
  --slider-height: 6px;
  --slider-width:100%;
  --slider-border-width: 0px;
  --slider-border-color: #d5d5d5;
  --background-slider: #bbb;
  --background-filled-slider: #999;
  --thumb-width: 0px;
  --thumb-height: 1px;
  --thumb-radius: 0%;
  --thumb-background: #41bea8;
  --thumb-border: 0px solid #777;
  --shadow-size: -8px;
  --fit-thumb-in-slider: -8px;  
}

input[type="range"] {
  background: var(--background-slider);
  cursor: pointer;
  display: inline-block;
  height: var(--slider-height);
  outline: none;
  margin: 2px 0.2em;
}
.song-progress-control {
  width: var(--slider-width);
}

input[type="range"]:focus,
input[type="range"]:active {
  box-shadow: none;
  outline: none;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}
  
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--background-filled-slider);
  content: '';
  height: var(--slider-height);
  pointer-events: none;
  border: var(--slider-border-width) solid var(--slider-border-color);
}
  
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: var(--thumb-background);
  border-radius: var(--thumb-radius);
  margin-top: var(--fit-thumb-in-slider);
  border: var(--thumb-border);
}

input[type="range"]::-webkit-slider-runnable-track:focus {
  box-shadow: none;
  outline: none;
}

input[type="range"]::-moz-range-track {
  width: var(--slider-width);
  height: var(--slider-height);
}

input[type="range"]::-moz-range-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  background: var(--thumb-background);
  border-radius: var(--thumb-radius);
  border: var(--thumb-border);
  position: relative;
}

input[type="range"]::-moz-range-track:focus {
  box-shadow: none;
  outline: none;
}

input[type="range"]::-moz-range-progress {
  height: var(--slider-height);
  background: var(--background-filled-slider);
  border: 0;
  margin-top: 0;
}

input[type="range"]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: var(--slider-height);
  margin-top: 10px;
  width: var(--slider-width);
}

input[type="range"]::-ms-thumb {
  background: var(--thumb-background);
  border-radius: var(--thumb-radius);
  border: var(--thumb-border);
  width: var(--thumb-width);
  height: var(--thumb-height);
}

input[type="range"]::-ms-fill-lower {
  background: var(--background-filled-slider);
  border-radius: 0;
}

input[type="range"]::-ms-fill-upper {
  background: var(--background-slider);
  border-radius: 0;
}

input[type="range"]::-ms-tooltip {
  display: none;
}
