#audio-player-div {
    display: flex;
    flex-direction: column;
  }
  
  #song-div {
    display: flex;
    flex-direction: row;
  }
  
  #song-inner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #song-info-div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  
  #song-controls-div {
    display: flex;
    flex-direction: row;
  }
  
  #play-pause-button {
    align-self: flex-start;
  }
  
  #previous-button {
    align-self: flex-start;
  }
  
  #next-button {
    align-self: flex-start;
  }
  
  #song-progress-label {
    align-self: flex-start;
  }
  
  #volume-img {
    align-self: flex-end;
  }
  
  #volume-control {
    align-self: flex-end;
  }