.hero {
  padding-top: 2em;
}

.hero-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(243, 60, 60, 0.1)), url('/images/bg/Arcadia-1920x1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  min-height: 86vh;
  height: 86vh;
}

.dark .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bg/DragonCave-1920x1280.jpg') !important;
}

.ep-hero-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0)), url('/images/bg/PianoMeadow-1920x1280.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  min-height: 86vh;
  height: 86vh;
}

.hero-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.dark .hero h1,
.dark .hero  h4 {
  color: #fff !important;
}

.hero .light h1,
.hero .light h4 {
  color: $dark-gray !important;
}

.hero h1 {
  font-size: 3.6em;
}

@media screen and (max-width: $viewport-small) {
  .hero h1 {
    font-size: 2.2em;
  }
}

.hero h4 {
  text-transform: uppercase;
  font-weight: $bold-font-weight;
}


.hero .text-bg {
  padding: 1.2em;
  border-radius: 5px;
}

.light-bg {
  background-color: $site-bg-color;
  box-shadow: 0 4px 8px 0 $shadow;
}

.hero .text-bg .dark {
  background-color: $dark-gray;
}

.secondary-bg {
  background-color: #e0f8f0;
}

.ep .secondary-bg {
  background-color: #d1f2b5;
}
