.site-header {
  background-color: $transparent-white;
  width: 100vw;
}

.site-footer {
  background-color: $transparent-white;
  width: 100vw;
}

.arcadia-bg-1 {
  background-image: url('/images/bg/Arcadia-2640x1280.jpg') !important;
  background-size: cover;
}

.character-left img {
  display: float;
  position: absolute;
  left: 3vw;
  bottom: 1.5vh;
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 0px;
}
