.site-header {
  background-color: $transparent-white;
  width: 100vw;
}

.site-footer {
  background-color: $transparent-white;
  width: 100vw;
}

.arcadia-bg-1 {
  background-image: url('/images/bg/Arcadia-1920x1280.jpg') !important;
  background-size: cover;
}
