.landing-page h1, 
.landing-page h2 {
  font-weight: $bold-font-weight;
}

.landing-page h2,
.landing-page .section-head {
  margin-bottom: 0.75em;
}

.landing-page .album-cover {
  margin-left: auto;
  margin-right: auto;
}

#album-cover {
  max-width: 60em;
  width: 76vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.landing-page .row p {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 24em;
}

.landing-page #audio {
  max-width: 32em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.landing-page p {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
}
