.measure {
  margin: 0 auto;
  max-width: $measure-width;
  overflow: hidden;
}

.full-width {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 1.2em;
}

.full-size {
  width: 100%;
  height: 100%;
}
