.gumroad-button {
  margin: 0 auto;
  max-width: 210px;
}

.gumroad-loading-link {
  text-align: center;
  width: 100%;
  margin: auto;
}

.order-button {
  border-radius: 3px;
  border: 0px;
  background-image: url("/images/order-button.jpg");
  background-repeat: no-repeat;
  max-width: 260px;
  margin: 0.6em auto;
  padding: 0.8em 1.4em;  
  transition-duration: 0.2s;
  font-family: $heading-font-family;
  font-size: $h3;
  color: #f6ff00;
  line-height: 1em;
  overflow: hidden;
}

.order-button:hover,
.order-button:active,
.order-button:focus  {
  background-image: url("/images/order-button-hover.jpg");
  color: rgba(0,0,0,0);
}
