html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $site-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small,
.small {
  font-size: 0.707rem;
}

strong,
.strong {
   font-weight: 500;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

.title {
  font-size: 3.0em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.4em;
}

.script {
  font-family: $script-font-family;
  font-weight: $script-font-weight;
}

@font-face {
	font-family: 'HARRINGT';
	src: url('/fonts/HARRINGT.eot');
  src: local('/fonts/HARRINGT'), 
      url('/fonts/HARRINGT.woff') format('woff'), 
      url('/fonts/HARRINGT.ttf') format('truetype');
}
