<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% if site.google_tag_manager %}
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
          height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    {% endif %}

    <div class="site-wrap arcadia-bg-1">
      {% include header.html %}

      <div class="body-content p-responsive wrap" role="main">
        <div class="measure py2">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
